# Informations PostgreSQL
POSTGRES_DB=bookshop
POSTGRES_USER=
POSTGRES_PASSWORD=

# Informations Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=BOOKSHOP_USER
SNOWFLAKE_ROLE=BOOKSHOP_ROLE
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=BOOKSHOP_WH
SNOWFLAKE_DATABASE=BOOKSHOP
SNOWFLAKE_DEFAULT_SCHEMA=RAW
